.header {
	&--main {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		padding: 30px 15px;
		@include media-breakpoint-up(md) {
			padding: 30px;
		}
	}
	.site-logo {
		max-height: 21px;
		width: 59px;
		@include media-breakpoint-up(md) {
			max-height: 40px;
			width: 111px;
		}
	}
}

.navigation-modal {
	ul {
		padding: 0;
	}
	li {
		list-style: none;
		text-align: center;
	}
	a {
		@include proxima-nova-light;
		color: $white;
		font-size: 52px;
		line-height: 1.5;
		transition: color .25s ease-out;
		text-decoration: none;
		&.nuxt-link-exact-active {
			// color: orange;
			color: $blue;
		}
		&:hover {
			color: $blue;
		}
	}
	.modal-content {
		background: none;
	}
	&__close {
		color: $white;
		position: fixed;
		top: 30px;
		right: 30px;
		width: 50px;
		opacity: 0;
		transition: opacity .25s ease-out;
		border: none;
		font-size: 24px;
		line-height: .85;
		&--opacity {
			opacity: 1;
		}
		&:focus {
			border-color: $white;
			box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1);
		}
	}
	&__button-toggle {
		background: none;
		border: none;
		float: right;
		border: none;
		&:focus {
			background-color: transparent;
			border: none;
			box-shadow: none;
		}
		.change-nav-button & {
			&:hover {
				@include media-breakpoint-up(md) {
					background-color: $black;
				}
			}
		}
		&:hover {
			background-color: $white;
			border: none;
			box-shadow: none;
		}
		[data-whatintent='keyboard'] & {
			&:focus {
				background-color: $white;
				border: none;
				box-shadow: none;
			}
		}
		span {
			background: $black;
			display: block;
			width: 25px;
			height: 3px;
			margin-bottom: 5px;
			position: relative;
			z-index: 1;
			.change-nav-button & {
				@include media-breakpoint-up(md) {
					background: $white;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
