.home-page {

	&__intro {
		h1 {
			@extend .mb-100;
		}
		h2 {
			font-size: 30px;
			line-height: 1.25;
		}
		.container {
			margin: 0;
			@include media-breakpoint-up(md){
				margin-left: 15px;
			}
		}
	}

	&__slider {
		.carousel-item {
			height: 100vh;
			background-size: cover;
			background-position: center;
			.carousel-caption {
				right: auto;
				left: 0;
				top: 0;
				bottom: auto;
				height: 100%;
				width: 100%;
				overflow: hidden;
			}
			a {
				position: absolute;
				height: 100vh;
				width: 100%;
				display: block;
				z-index: 1;
			}
		}
		.carousel-inner {
			z-index: 0;
		}
		.carousel-control-prev,
		.carousel-control-next {
			z-index: 1;
			[data-whatintent='keyboard'] & {
				&:focus {
					background-color: rgba($color: #000000, $alpha: .65);
				}
			}
		}
		.carousel-control-prev {
			cursor: url(../images/Mplus-left-arrow.svg),auto!important;
		}
		.carousel-control-next {
			cursor: url(../images/Mplus-right-arrow.svg),auto!important;
		}
		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			opacity: 0;
		}
	}
	&__slider-text {
		position: absolute;
		bottom: 30px;
		left: 15px;
		@include media-breakpoint-up(md){
			left: 30px;
		}
	}
	&__slider-white {
		color: $white;
	}
	&__slider-black {
		color: $black;
	}
	&__masonry {
		overflow: hidden;
	}

	.grid-item-content {
		&__link {
			color: $black;
			display: block;
			&:before {
				background: $offPeach;
				height: 100%;
				width: 100%;
				left: 0;
				opacity: 0;
				top: 0;
				position: absolute;
				transition: opacity 0.3s ease-out;
				z-index: 1;
				content: '';
				display: block;
			}
			img {
				position: relative;
				z-index: 0;
			}
			span {
				@include centerer;
				@extend .h3;
				z-index: 2;
				transition: opacity .3s ease-out;
				opacity: 0;
				text-align: center;
				display: block;
				width: 85%;
			}
			&:hover,
			&:focus {
				&:before {
					opacity: .8;
				}
				span {
					opacity: 1;
				}
			}
		}
	}

	.button-group {
		padding-top: 3px;
		@include media-breakpoint-up(md){
			margin-left: 15px;
		}
		.button {
			@include proxima-nova-light;
			font-size: 18px;
			letter-spacing: .45px;
			border: none;
			border-radius: 0;
			color: $black;
			&:hover {
				color: #0069d9;
			}
			&.btn-primary {
				color: #0069d9;
				background-color: transparent;
			}
		}
	}
}
