main {
	position: relative;
	z-index: 0;
}

.container {
	&--full {
		max-width: 1920px;
	}
}

.overflow-hidden {
	overflow: hidden;
}

.posts-page {
	&__container {
		@include media-breakpoint-up(xl) {
			max-width: 1300px;
		}
	}
	&__post {
		time {
			display: block;
		}
	}
	&__post-link {
		color: $black;
		line-height: 1.1;
		&:hover,
		&:focus {
			color: $blue;
		}
	}
	&__post-img {
		position: relative;
		display: block;
		img {
			position: relative;
			z-index: 0;
		}
		span {
			@include centerer;
			z-index: 2;
			color: $black;
			display: block;
			width: 90%;
			text-align: center;
			opacity: 0;
			transition: opacity .25s ease-out;
		}
		&:before {
			background-color: $offPeach;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			content: '';
			z-index: 1;
			transition: opacity .25s ease-out;
		}
		&:hover,
		&:focus {
			&:before {
				opacity: .8;
			}
			span {
				opacity: 1;
			}
		}
	}
}


.contact-page {
	&__acf-content {
		p {
			@extend .h2;
			line-height: 1.5;
			margin-bottom: 30px;
		}
		ul {
			padding: 0;
			margin-bottom: 30px;
			@include media-breakpoint-up(md){
				padding-top: 30px;
			}
			li {
				list-style: none;
				margin-bottom: 10px;
				&:first-child {
					margin-bottom: 15px;
				}
				h3 {
					color: $gray;
					@extend .h3;
				}
				a {
					color: $black;
					transition: color .25s ease-out;
					&:hover {
						color: $blue;
						text-decoration: none;
					}
				}
			}
			@include media-breakpoint-up(md){
				float: left;
				width: 33.2%
			}
		}
		&:after {
			content:'';
			clear: both;
			display: block;
			width: 100%;
		}
	}
	&__content {
		p {
			@extend .h3;
			line-height: 1.4;
		}
	}
	.gravity-form {
		label {
			@extend .sr-only
		}
		input {
			margin-bottom: 50px;
		}
		input,
		textarea {
			border-color: $black;
			border-left: none;
			border-right: none;
			border-top: none;
			border-radius: 0;
			padding-left: 0;
		}
		.btn-primary {
			@extend .btn--mplus;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 12px;
			padding: 15px 50px;
		}
	}
}

.home-page {
	&--landing {
		.container {
			max-width: 100%;
		}
		.row {
			overflow: hidden;
		}
		.home-page__col {
			a {
				text-align: center;
				@include centerer;
				width: 80%;
				height: 70%;
				@include media-breakpoint-up(md){
					width: 70%;
					height: 70%;
				}
				&:hover,
				&:focus {
					.bg-img {
						opacity: 1;
					}
					.title--branding {
						color: $white;
						opacity: 0;
					}
					.title--arch {
						color: $black;
						opacity: 0;
					}
				}
			}
			.title {
				@include MABRY_LIGHT_PRO;
				@include centerer;
				text-transform: uppercase;
				z-index: 2;
				transition: color .25s ease-out, opacity .25s ease-out;
				letter-spacing: 3.5px;
				width: 100%;
				&--branding {
					color: $black;
				}
				&--arch {
					color: $white;
				}
			}
			.bg-img {
				background-size: cover;
				background-position: center;
				z-index: 0;
				position: absolute;
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				opacity: 0;
				transition: opacity .25s ease-out;
			}
		}
		.home-page__left-col,
		.home-page__right-col {
			@include min-vh;
			@include media-breakpoint-down(sm){
				min-height: 50vh
			}
		}
		.home-page__left-col {
			background-color: $peach;
		}
		.home-page__right-col {
			background-color: #212121;
		}
	}
}

.loading-preview {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: rgba($color: #000000, $alpha: .7);
	&__content {
		@include centerer;
		text-align: center;
	}
	span {
		color: $white;
		display: block;
		text-align: center;
	}
	.lds-ripple {
		display: inline-block;
		position: relative;
		width: 64px;
		height: 64px;
	}
	.lds-ripple div {
		position: absolute;
		border: 4px solid #fff;
		opacity: 1;
		border-radius: 50%;
		animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	}
	.lds-ripple div:nth-child(2) {
		animation-delay: -0.5s;
	}
	@keyframes lds-ripple {
	0% {
		top: 28px;
		left: 28px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: -1px;
		left: -1px;
		width: 58px;
		height: 58px;
		opacity: 0;
	}
	}
}
