.single-project {
	&__featured-img {
		@include min-vh;
		background-size: cover;
		background-position: center;
		position: relative;
	}
	&__down-arrow {
		height: 42px;
    	width: 59px;
		display: block;
		position: absolute;
		bottom: 50px;
		left: 0;
		right: 0;
		margin: auto;
		cursor: pointer;
		animation: MoveUpDown 1.5s ease-out infinite;
		background-color: transparent;
		appearance: none;
		border: none;
		@keyframes MoveUpDown {
			0%, 100% {
				transform: translateY(0);
			}
			50% {
				transform: translateY(30px);
			}
		}
		&:after,
		&:before {
			background: $white;
			content: '';
			width: 50%;
			height: 2px;
			display: block;
		}
		&:after {
			transform: rotate(45deg) translateX(14.5px) translateY(10px);
		}
		&:before {
			transform: rotate(-45deg) translateX(-14.5px) translateY(10px);
			float: right;
		}
	}

	&__specific-features {
		padding: 0;
		li {
			@include proxima-nova-light;
			list-style: none;
			margin-bottom: 15px;
			color: $black;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__specific-desc {
		color: $gray;
	}
	&__categories {
		span {
			color: $gray;
		}
	}
	&__text {
		p {
			@extend .h3;
			line-height: 30px;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__full-container {
		max-width: 100%;
		overflow: hidden;
		padding: 0;
	}
	&__pagination-link {
		padding: 55px 30px;
		position: relative;
		@include media-breakpoint-up(lg){
			min-height: 400px;
			padding: 132px 100px;
		}
		@include media-breakpoint-up(xl){
			min-height: 490px;
			padding: 132px 125px;
		}
		.h1,
		.h3 {
			display: block;
		}
		.h1 {
			font-size: 30px;
		}
		.h3 {
			color: $gray;
		}
		span {
			transition: opacity .25s ease-out;
		}
		&:hover {
			text-decoration: none !important;
			span {
				opacity: 0;
			}
			.single-project__pagination-bg {
				opacity: 1;
			}
		}
	}
	&__pagination-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background-size: cover;
		background-position: center;
		opacity: 0;
	}
	&__prev {
		background: $offPeach;
		text-align: right;
		.spacer {
			padding-right: 15px;
		}
	}
	&__next {
		background: #fbf3e9;
		.spacer {
			padding-left: 15px;
		}
	}
	&__copy {
		font-size: 18px;
	}
}
