<template>
	<b-container>
		<b-row>
			<b-col>
				<client-only>

					<div class="mailchimp">
						<!-- Begin MailChimp Signup Form -->
						<div id="mc_embed_signup">
							<form action="//projectmplus.us2.list-manage.com/subscribe/post?u=9d6cfaa563b62f4962692c07c&id=2b0b813b57" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<div id="mc_embed_signup_scroll" class="clear mailchimp__form-container">
									<label for="mce-EMAIL" class="mailchimp__label pb-5">Be in the know</label>
									<input type="email" value="" name="EMAIL" class="email mailchimp__input" id="mce-EMAIL" placeholder="Join Our Newsletter" required>
									<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9d6cfaa563b62f4962692c07c_2b0b813b57" tabindex="-1" value=""></div>
									<div class="submit-arrow mailchimp__submit"><input type="submit" value="→" name="Subscribe" id="mc-embedded-subscribe" class="button"></div>
									<div class="clear"></div>
								</div>
							</form>
						</div>
					</div>
				</client-only>
			</b-col>
		</b-row>
	</b-container>
</template>
